@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* :root {
  --background: #171717;
  --foreground: #ffffff;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.main-header {
  background: linear-gradient(to right, #6366f1, #ec4899, #eab308);
}

input {
  padding: 8px;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--foreground-rgb), 0.3);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;

  &:hover {
    background-color: black;
  }
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--foreground-rgb), 0.5);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(var(--foreground-rgb), 0.3) transparent;
}